/** Import Google Fonts **/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;0,600;1,400;1,600&display=swap');

/** Set global variables **/
:root{
    --orange:#DB9D00; /* Define variables for: orange color */
    --dark-color:#EDA800; /* darker color (orange) */
    --black:#444; /* black color */
    --light-color:#666; /* lighter color (gray)*/
    --border:0.1rem solid rgba(0,0,0,0.1); /* border*/
    --border-hover:0.1rem solid var(--black); /* hover border*/
    --box-shadow:0 0.5rem 1rem rgba(0,0,0,0.1); /*  box shadow*/
}
/** Reset all elements to default styles **/
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; /* Set the font family to Poppins and sans-serif */
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear; /* Set a transition for all properties with a duration of 0.2s */
    transition: width none; /* Disable transition for width property */
}

/** Set base font size and other HTML styles **/
html{
    font-size: 62.5%;
    overflow-X: hidden; /* Hide the horizontal scrollbar*/
    scroll-padding-top: 5rem; /* Add padding top to smooth scroll to avoid header overlapping */
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 1rem; /* Set the width of the scrollbar */
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--black);
}

/*-------------------------------------- Top header -----------------------------*/

.header .header-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 9%;
    background: #fff;
}


.header .header-1 .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black); 
}

.header .header-1 .logo img{
    height: 120px;
    width: 120px;

}

.header .header-1 .search-form{
    width: 50rem;
    height: 5rem;
    border: var(--border); /* Set the border to the value of the variable --border */
    overflow: hidden;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
}

.header .header-1 .search-form input{
    font-size: 1.6rem;
    padding: 0 1.2rem;
    height: 100%;
    width: 100%;
    text-transform: none;
    color: var(--black);
}

.header .header-1 .search-form label{
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer; /* Set cursor as pointer for label */
}

.header .header-1 .search-form label:hover{
    color: var(--orange); /* Change text color on hover for label */
}

.header .header-1 .icons div,
.header .header-1 .icons a{
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color: var(--black);  /* Set color for icons */
    cursor: pointer;
}

.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover{
    color: var(--orange); /* Change color on hover for icons */
}

#search-btn{
    display: none;
}

/*-------------------------------------- navigation bar-----------------------------*/


.header .header-2{
    background-color: var(--orange); /* Set background color for header-2 */
}

.header .header-2 .navbar{
    text-align: center;
}

.header .header-2 .navbar a{
    color: #fff;
    display: inline-block; /* Set display property to inline-block for navbar links */
    padding: 1.2rem;
    font-size: 1.7rem;
}

.header .header-2 .navbar a:hover{
    background: var(--dark-color); /* Set background color on hover for navbar links */
}

.header .header-2.active{
    position: fixed; /* Set position property to fixed for header-2 when it has class "active" */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

/*------------------------  bottom-navbar -----------------------------------*/


.bottom-navbar{
    text-align: center; /* Center aligns the text within the element */
    background: var(--orange); /* Sets the background color to orange */
    /* Fixes the position of the element to the bottom of the viewport */
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: none; /* Hides the element by default */
}

.bottom-navbar a{
    font-size: 3rem;
    padding: 2rem;
    color: #fff;
}
/* Styles for links within the bottom navigation bar when hovered over */
.bottom-navbar a:hover{
    background-color: var(--dark-color);/* Sets the background color to a darker color */
}

/* login-form */


.login-form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255,255,255,0.9); /* Sets the background color with 90% opacity */
    position: fixed;
    top: 0;
    right:-105%;
    z-index: 10000;
    height: 100%;
    width: 100%;
}

.login-form-container.active{
    right: 0;
}

.login-form-container form{
    background: #fff;
    border: var(--border);  /* Applies border styles using a custom CSS variable named "--border" for the border of the form*/
    width: 40rem;
    padding: 2rem;
    box-shadow: var(--box-shadow); /* Applies a box shadow using a custom CSS variable named "--box-shadow" that creates a box shadow */
    border-radius: .5rem;
    margin: 2rem;
}

.login-form-container form h3{
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--black);
}

.login-form-container form span{
    display: block;
    font-size: 1.5rem;
    padding-top: 1rem;
}

.login-form-container form .box{
    width: 100%;
    margin: 0.7rem 0;
    font-size: 1.6rem;
    border: var(--border);
    border-radius: 0.5rem;
    padding: 1rem 1.2rem;
    color: var(--black);
    text-transform: none;
}


.login-form-container form .check-box{
    display: flex;  /* Uses flexbox to align child elements horizontally with a gap */
    align-items: center;
    gap: 0.5rem;
    padding: 1rem 0;
}

.login-form-container form .check-box label{
    font-size: 1.5rem;
    color: var(--light-color); 
    cursor: pointer; /* Sets cursor to pointer when hovering over the checkbox label */
}

.login-form-container form .btn{
    text-align: center;
    width: 100%;
    margin: 1.5rem 0; /* Sets margin on top and bottom of the button */
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 0.9rem 3rem;
    border-radius: 0.5rem;
    color: #fff;
    background: var(--orange);
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
    
}
 /* Styles for button hover effect */
.btn:hover{
    background-color: var(--dark-color); /* Sets background color to a darker color on hover */
}

.login-form-container form p{
    padding-top: 0.8rem;
    color: var(--light-color); /* Sets the font color using a CSS variable to a lighter color */
    font-size: 1.5rem;
}

.login-form-container form p a{
    text-decoration: underline; /* Sets underline decoration for anchor tags */
    color: var(--orange);
}

.login-form-container #close-login-btn{
    position: absolute; /* Sets position to absolute for absolute positioning */
    top: 1.5rem; /* Sets top offset from the parent element */
    right: 2.5rem; /* Sets right offset from the parent element */
    font-size: 5rem;
    cursor: pointer;

}

/*------------------------------- home section ------------------------------------*/

section{
    padding: 5rem 9%;
}
.home{
    background: url(../image/banner-bg.jpg); /*Add this image to the welcoming page*/
    background-position: center; /*Adjust it's position*/
    background-size: cover;/*Adjust it's size*/
}

.home .row{
    display: flex; /* Uses flexbox to align child elements horizontally with a gap */
    align-items: center; /*Align the items to the center*/
    flex-wrap: wrap;
    gap: 1.5rem;
}
 

.home .row .content{
    flex: 1 1 42rem; /* Sets the flex properties for the content */
}

.home .row .content h3{
    color: var(--black);
    font-size: 4.5rem;  /* Sets the font size of the heading */
}
.home .row .content h3 strong{
    font-weight: bolder;
    color: #DB9D00;
    font-size: 4.8rem;
}

.home .row .content p{
    color: var(--light-color);
    font-size: 1.4rem; /* Sets the font size of the paragraph */
    line-height: 2;
    padding: 1rem 0;
}

.home .row .books-list{
    flex: 1 1 42rem; /* Sets the flex properties for the books list */
    margin-top: 2rem;
    text-align: center;

}

.home .row .books-list a img{
    height: 25rem; /* Sets the height of the book images */
}

.home .row .books-list a:hover img{
    transform: scale(0.9); /* Shrinks the size of the book image on hover */
}

.home .row .books-list .stand{
    width: 100%; /* Sets the width of the stand */
    margin-top: -2rem; /* Adds negative margin to the top of the stand */
}





/*----------------------------- news letter section start-----------------------------*/


form{
    max-width: 55rem;
    margin-left: auto;  /* Center the form horizontally */
    text-align: start;
}

form h3{
    font-size: 2.2rem;
    color: #DB9D00; /* Set the text color to a custom orange color */
    font-weight: normal;
}

form .box{
    width: 70%;
    margin: 0.7rem 0;  /* Add some margin */
    padding: 1rem 1.2rem;
    font-size: 1.5rem;
    color: var(--black);
    border-radius: 0.5rem;
    text-transform: none;
    border: 1px solid #EDA800;  /* Add a border */
}

/*--------------------------- footer section ------------------------*/

.footer .box-container{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));  /* Set the column template to repeat columns as needed with a minimum size of 25rem and maximum size of 1fr */
    padding: 1rem 0;
    margin-left: 5%; /* Add some margin on the left */
}
.footer .box-container .box{
    width: 100%;
    padding-left: 20px;
}
/* Style for the h3 tag within each box */
.footer .box-container .box h3{
    font-size: 2.2rem;
    color: var(--black);
    padding: 1rem 0;
}

.footer .box-container .box a{
    display: block;  /* Display the anchor tag as a block */
    font-size: 1.4rem;
    color: var(--light-color);
    padding: 1rem 1rem;

}

.footer .box-container .box a i{
    color: var(--orange);
    padding-right: 0.5rem;
    
}

.footer .box-container .box a:hover i{
    padding-right: 2rem;
}

.footer .box-container .box .map{
    width: 100%; /* Set the width of the map to 100% */
}

.footer .share{
    padding: 1rem 0;
    text-align: center;
}

.footer .share a{
    height: 8rem;
    width: 8rem;
    line-height: 5rem;
    font-size: 3rem;
    margin: 0 0 0.3rem;
    color: var(--light-color); /* Set the text color to a custom light color */
}

.footer .share a:hover{
    color: #DB9D00;
}

.footer .credit{
    border-top: var(--border); /* Add a border to the top */
    margin-top: 2rem;
    padding: 0 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: var(--light-color);
    text-align: center;
}

.footer .credit span{
    color: var(--orange);
}


/*-------------------------- media query --------------------------*/


/* Media queries for screens up to 991px */
@media(max-width:991px){
    html{
        font-size: 55%; /* Decrease font size for better mobile experience */
    }
    
    .header .header-1{
        padding: 2rem; /* Reduce padding for mobile users */
    }
    section{
        padding: 3rem 2rem; /* Reduce padding for better experience for the mobile/phone users */
    }
}

@media(max-width:768px){
    html{
        scroll-padding-top: 0;  /* Remove padding on scrolling for mobile users */
    }

    body{
        padding-bottom: 6rem;
    }

    .header .header-2{
        display: none;
    }

    .header .header-1{
        box-shadow: var(--box-shadow);
        position: relative; /* Add shadow and position header element relatively */
    }

    .header .header-1 .search-form{
        position: absolute;
        top: -115%; /* Hide search bar offscreen by default */
        right: 2rem;
        width: 90%;
        box-shadow: var(--box-shadow);
    }

    .header .header-1 .search-form.active{
        top: 115%; /* Bring search bar on screen when active */
    }

    #search-btn{
        display: inline-block; /* Show search button on small screens */
    }
    .home .row .content h3{
        color: var(--black);
        font-size: 3.5rem; /* Increase font size for better readability on small screens */
    }

    .home .row .content{
       text-align: center; /* Center align content on small screens */
    }
    .bottom-navbar{
        display: inline-block; /* Show bottom navbar on small screens */
    }
    form{
        margin-left: 0;
        max-width: 100%; /* Remove left margin and make form full width on small screens */
    }
}

@media(max-width:450px){

    html{
        font-size: 50%; /* Further decrease font size, for mobile users experience */
    }
}

/*--------------------------- about us section ------------------------------*/

.about .about-container .about-box{
    margin: 2rem 0; /* Adds margin to the about box */
    border: var(--border); /* Sets the border style for the about box */
}

.about .about-container .about-box:hover{
    border: var(--border-hover);  /* Sets the border style on hover for the about box */
}

.about .about-container .about-box .image{
    height: 25rem;
    width: 100%;
    overflow: hidden; /* Hides any overflowing content within the image container */
}

.about .about-container .about-box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover; /* Ensures the image covers the entire container */
}

.about .about-container .about-box:hover .image img{
    transform: scale(1.1);  /* Scales up the image on hover */
}

.about .about-container .about-box .content{
    padding: 1.5rem;  /* Adds padding to the content within the about box */
}

.about .about-container .about-box .content h3{
    font-size: 2.2rem;
    color: var(--black);
}

.about .about-container .about-box .content p{
    font-size: 1.4rem;
    color: var(--light-color);
    padding: 1rem 0;
    line-height: 2; /* Sets the line height of the paragraph within the about box */
    
}

/*--------------------------- icons-container ----------------------------*/

.icons-container{
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); /* Creates a responsive grid layout */
}

.icons-container .icons{
    display: flex;
    align-items: center; 
    gap: 0.5rem;
    justify-content: space-evenly; /* Positions the icons evenly within the container */
}

.icons-container .icons i{
    font-size: 3.5rem; 
    color: var(--orange); /* Sets the color of the icons */
    padding: 2rem 0;
}

.icons-container .icons h3{
    color: var(--black); /* Sets the color of the icons */
    font-size: 2.2rem;
    border-bottom: 0.5rem; /* Adds a bottom border to the heading within the icons container */
}

.icons-container .icons p{
    color: var(--light-color); /* Sets the color of the paragraph within the icons container */
    font-size: 1.4rem;
}

/*---- review section start ---------*/

.reviews .reviews-container .review-box{
    border: var(--border); /* Styling the review box with border */
    padding: 2rem;
    text-align: center; /* Center aligning the content inside the review box */
    margin: 1rem 0;
    width: 400px;
}
.reviews-container{
    display: flex; /* Creating a flex container for the reviews */
    flex-direction: row; /* Setting the direction of flex items to row */
    flex-wrap: wrap;  /* Allowing the reviews to wrap to the next line if necessary */
    justify-content: center; /* Center aligning the reviews horizontally */
}

.reviews .reviews-container .review-box:hover{
    border: var(--border-hover); /* Changing the border color when hovering over the review box */
}

.reviews .reviews-container .review-box img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover; /*Ensures that the image covers the whole space without any effect on the quality*/
}

.reviews .reviews-container .review-box h3{
    color: var(--black);
    font-size: 2.2rem;
    padding: 1rem 0 ;
    line-height: 2;
}

.reviews .reviews-container .review-box p{
    color: var(--light-color); /* Setting the color of the review text */
    font-size: 1.4rem;
    padding: 1rem 0;
    line-height: 2;
}

.reviews .reviews-container .review-box .stars i{
    font-size: 1.7rem;
    color: var(--orange); /* Setting the color of the star icons */
}


/*------------------------------ deal section start ------------------------------*/

.deal{
    background: #f3f3f3;
    display: flex; /* Display the items in a row */
    align-items: center;
    flex-wrap: wrap; /* Allow items to wrap to a new line */
    gap: 1.5rem;
}

.deal .content{
    flex: 1 1 42rem;
}
/* Style for the image of the deal section */
.deal .image{
    flex: 1 1 42rem;
}

.deal .image img{
    width: 100%; /* Make the image take up the full width of its container */
}

.deal .content h3{
    color: var(--orange); /* Set the text color to a custom orange color */
    font-size: 2.5rem;
    padding-bottom: 0.5rem;
}

.deal .content h1{
    color: var(--black);
    font-size: 4rem;
}

.deal .content p{
    padding: 1rem 0;
    color: var(--light-color);
    font-size: 1.4rem;
    line-height: 2; /* Set the line height to be twice the font size */
}


/*------------------------- gallery section ------------------------------------*/

.heading{
    text-align: center; /* Center aligning the text */
    margin-bottom: 2rem;
    position: relative;
}

.heading::before{
    content: ''; /* Adding content before the heading */
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%); /* Translating the element vertically by -50% of its height */
    width: 100%;
    height: 0.01rem;
    background: rgba(0,0,0,0.1);
    z-index: -1; /* Moving the element behind the heading */
}

.heading span{
    font-size: 3rem;
    padding: 4rem 2rem;
    color: var(--black);
    border: var(--border); /* Adding a border to the span */
    background: #fff;
}
.swiper-wrapper{
    display: flex; /* Displaying the elements in a row */
    flex-direction: row;
    flex-wrap: wrap; /* Allowing the elements to wrap to a new line if necessary */
    justify-content: space-evenly; /* Distributing the elements evenly along the horizontal axis */
}
.gallery .gallery-container .gallery-box{
    width: 25rem; /* Setting the width of the gallery box */
    margin: 2rem 0;
    position: relative;
    overflow: hidden; /* Hiding any content that overflows the box */
    border: var(--border);
    text-align: center;
}

.gallery .gallery-container .gallery-box:hover{
    border: var(--border-hover);
}

.gallery .gallery-container .gallery-box .image{
    padding: 1rem;
    background:linear-gradient(15deg, #eee 30% , #fff 30.1%); /* Setting a linear gradient background */
}

.gallery .gallery-container .gallery-box .image img{
    height: 25rem;
}

.gallery .gallery-container .gallery-box:hover .image{
    transform: translateY(6rem); /* Applying a vertical translation to the image on hover */
    cursor: pointer;  /* Changing the cursor to a pointer on hover */
}

.gallery .gallery-container .gallery-box .icons{
    padding-bottom: var(--border-hover);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #ffff;
    z-index: 1;
    transform: translateY(-100%); /* Translating the icons vertically by -100% of their height */
    border: var(--border);
}

.gallery .gallery-container .gallery-box:hover .icons{
    transform: translateY(0); /* Moving the icons to their original position on hover */
}

.gallery .gallery-container .gallery-box .icons a{
    color: var(--black);
    font-size: 2.2rem;
    padding: 1.3rem 1.5rem;
}

.gallery .gallery-container .gallery-box .icons a:hover{
    background: var(--orange);
    color: #fff;
}

.gallery .gallery-container .gallery-box .content{
   background: #eee;
   padding: 1.5rem;
}

.gallery .gallery-container .gallery-box .content h3{
    font-size: 2rem;
    color: var(--black);
}

.gallery .gallery-container .gallery-box .content .price{
    font-size: 2.2rem;
    color: var(--black);
    padding-top: 1rem;
}

.gallery .gallery-container .gallery-box .content .price span{
    font-size: 1.5rem;
    color: var(--light-color);
    text-decoration: line-through; /* Adding a line-through text decoration to the span within the price */
}