/** Import Google Fonts **/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;0,600;1,400;1,600&display=swap');

/** Set global variables **/
:root{
    --orange:#DB9D00; /* Define variables for: orange color */
    --dark-color:#EDA800; /* darker color (orange) */
    --black:#444; /* black color */
    --light-color:#666; /* lighter color (gray)*/
    --border:0.1rem solid rgba(0,0,0,0.1); /* border*/
    --border-hover:0.1rem solid var(--black); /* hover border*/
    --box-shadow:0 0.5rem 1rem rgba(0,0,0,0.1); /*  box shadow*/
}
/** Reset all elements to default styles **/
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; /* Set the font family to Poppins and sans-serif */
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear; /* Set a transition for all properties with a duration of 0.2s */
    transition: width none; /* Disable transition for width property */
}

/** Set base font size and other HTML styles **/
html{
    font-size: 62.5%;
    overflow-X: hidden; /* Hide the horizontal scrollbar*/
    scroll-padding-top: 5rem; /* Add padding top to smooth scroll to avoid header overlapping */
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 1rem; /* Set the width of the scrollbar */
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--black);
}

/*-------------------------------------- Top header -----------------------------*/

.header .header-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 9%;
    background: #fff;
}


.header .header-1 .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black); 
}

.header .header-1 .logo img{
    height: 120px;
    width: 120px;

}

.header .header-1 .search-form{
    width: 50rem;
    height: 5rem;
    border: var(--border); /* Set the border to the value of the variable --border */
    overflow: hidden;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
}

.header .header-1 .search-form input{
    font-size: 1.6rem;
    padding: 0 1.2rem;
    height: 100%;
    width: 100%;
    text-transform: none;
    color: var(--black);
}

.header .header-1 .search-form label{
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer; /* Set cursor as pointer for label */
}

.header .header-1 .search-form label:hover{
    color: var(--orange); /* Change text color on hover for label */
}

.header .header-1 .icons div,
.header .header-1 .icons a{
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color: var(--black);  /* Set color for icons */
    cursor: pointer;
}

.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover{
    color: var(--orange); /* Change color on hover for icons */
}

#search-btn{
    display: none;
}

/*-------------------------------------- navigation bar-----------------------------*/


.header .header-2{
    background-color: var(--orange); /* Set background color for header-2 */
}

.header .header-2 .navbar{
    text-align: center;
}

.header .header-2 .navbar a{
    color: #fff;
    display: inline-block; /* Set display property to inline-block for navbar links */
    padding: 1.2rem;
    font-size: 1.7rem;
}

.header .header-2 .navbar a:hover{
    background: var(--dark-color); /* Set background color on hover for navbar links */
}

.header .header-2.active{
    position: fixed; /* Set position property to fixed for header-2 when it has class "active" */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

/*------------------------  bottom-navbar -----------------------------------*/


.bottom-navbar{
    text-align: center; /* Center aligns the text within the element */
    background: var(--orange); /* Sets the background color to orange */
    /* Fixes the position of the element to the bottom of the viewport */
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: none; /* Hides the element by default */
}

.bottom-navbar a{
    font-size: 3rem;
    padding: 2rem;
    color: #fff;
}
/* Styles for links within the bottom navigation bar when hovered over */
.bottom-navbar a:hover{
    background-color: var(--dark-color);/* Sets the background color to a darker color */
}

/* login-form */


.login-form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255,255,255,0.9); /* Sets the background color with 90% opacity */
    position: fixed;
    top: 0;
    right:-105%;
    z-index: 10000;
    height: 100%;
    width: 100%;
}

.login-form-container.active{
    right: 0;
}

.login-form-container form{
    background: #fff;
    border: var(--border);  /* Applies border styles using a custom CSS variable named "--border" for the border of the form*/
    width: 40rem;
    padding: 2rem;
    box-shadow: var(--box-shadow); /* Applies a box shadow using a custom CSS variable named "--box-shadow" that creates a box shadow */
    border-radius: .5rem;
    margin: 2rem;
}

.login-form-container form h3{
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--black);
}

.login-form-container form span{
    display: block;
    font-size: 1.5rem;
    padding-top: 1rem;
}

.login-form-container form .box{
    width: 100%;
    margin: 0.7rem 0;
    font-size: 1.6rem;
    border: var(--border);
    border-radius: 0.5rem;
    padding: 1rem 1.2rem;
    color: var(--black);
    text-transform: none;
}


.login-form-container form .check-box{
    display: flex;  /* Uses flexbox to align child elements horizontally with a gap */
    align-items: center;
    gap: 0.5rem;
    padding: 1rem 0;
}

.login-form-container form .check-box label{
    font-size: 1.5rem;
    color: var(--light-color); 
    cursor: pointer; /* Sets cursor to pointer when hovering over the checkbox label */
}

.login-form-container form .btn{
    text-align: center;
    width: 100%;
    margin: 1.5rem 0; /* Sets margin on top and bottom of the button */
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 0.9rem 3rem;
    border-radius: 0.5rem;
    color: #fff;
    background: var(--orange);
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
    
}
 /* Styles for button hover effect */
.btn:hover{
    background-color: var(--dark-color); /* Sets background color to a darker color on hover */
}

.login-form-container form p{
    padding-top: 0.8rem;
    color: var(--light-color); /* Sets the font color using a CSS variable to a lighter color */
    font-size: 1.5rem;
}

.login-form-container form p a{
    text-decoration: underline; /* Sets underline decoration for anchor tags */
    color: var(--orange);
}

.login-form-container #close-login-btn{
    position: absolute; /* Sets position to absolute for absolute positioning */
    top: 1.5rem; /* Sets top offset from the parent element */
    right: 2.5rem; /* Sets right offset from the parent element */
    font-size: 5rem;
    cursor: pointer;

}