/** Import Google Fonts **/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;0,600;1,400;1,600&display=swap');

/** Set global variables **/
:root{
    --orange:#DB9D00; /* Define variables for: orange color */
    --dark-color:#EDA800; /* darker color (orange) */
    --black:#444; /* black color */
    --light-color:#666; /* lighter color (gray)*/
    --border:0.1rem solid rgba(0,0,0,0.1); /* border*/
    --border-hover:0.1rem solid var(--black); /* hover border*/
    --box-shadow:0 0.5rem 1rem rgba(0,0,0,0.1); /*  box shadow*/
}
/** Reset all elements to default styles **/
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; /* Set the font family to Poppins and sans-serif */
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear; /* Set a transition for all properties with a duration of 0.2s */
    transition: width none; /* Disable transition for width property */
}

/** Set base font size and other HTML styles **/
html{
    font-size: 62.5%;
    overflow-X: hidden; /* Hide the horizontal scrollbar*/
    scroll-padding-top: 5rem; /* Add padding top to smooth scroll to avoid header overlapping */
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 1rem; /* Set the width of the scrollbar */
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--black);
}

/*-------------------------------------- Top header -----------------------------*/

.header .header-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 9%;
    background: #fff;
}


.header .header-1 .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black); 
}

.header .header-1 .logo img{
    height: 120px;
    width: 120px;

}

.header .header-1 .search-form{
    width: 50rem;
    height: 5rem;
    border: var(--border); /* Set the border to the value of the variable --border */
    overflow: hidden;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
}

.header .header-1 .search-form input{
    font-size: 1.6rem;
    padding: 0 1.2rem;
    height: 100%;
    width: 100%;
    text-transform: none;
    color: var(--black);
}

.header .header-1 .search-form label{
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer; /* Set cursor as pointer for label */
}

.header .header-1 .search-form label:hover{
    color: var(--orange); /* Change text color on hover for label */
}

.header .header-1 .icons div,
.header .header-1 .icons a{
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color: var(--black);  /* Set color for icons */
    cursor: pointer;
}

.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover{
    color: var(--orange); /* Change color on hover for icons */
}

#search-btn{
    display: none;
}

/*-------------------------------------- navigation bar-----------------------------*/


.header .header-2{
    background-color: var(--orange); /* Set background color for header-2 */
}

.header .header-2 .navbar{
    text-align: center;
}

.header .header-2 .navbar a{
    color: #fff;
    display: inline-block; /* Set display property to inline-block for navbar links */
    padding: 1.2rem;
    font-size: 1.7rem;
}

.header .header-2 .navbar a:hover{
    background: var(--dark-color); /* Set background color on hover for navbar links */
}

.header .header-2.active{
    position: fixed; /* Set position property to fixed for header-2 when it has class "active" */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

